{% extends "base.html" %}

{% load static %}
{% block class %}class="sub_page"{% endblock class %}

{% block about_status %}active{% endblock about_status %}

{% block main %}

  
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container  ">

    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src=" {% static 'images/Rato Bhale.png' %} " alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              We Are Rato Bhale Restaurant
            </h2>
          </div>

          <div>
          <p>
            We are here to serve you the local and tasty street foods of Nepal. From Newari Cuisine to Dameko Pork, we have everything ready here. This is your happening place
          </p>
          </div>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->


{% endblock main %}