<!DOCTYPE html>
<html>
{% load static %}
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href=" {% static 'images/favicon.png' %}" type="">

  <title> Rato Bhale Resturant </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href=" {%static 'css/font-awesome.min.css'%} " rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="  {%static 'css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="  {%static 'css/responsive.css'%} " rel="stylesheet" />

</head>

<body {% block class %}{% endblock class %}>
  <div class="hero_area">
    <div class="bg-box">
      <img src="{%static 'images/bg1.png'%}" alt="">
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'Home' %}">
            <span>
              Rato Bhale Resturant
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item {% block home_status %}{% endblock home_status %}">
                <a class="nav-link " href="{% url 'Home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item {% block menu_status %}{% endblock menu_status %} ">
                <a class="nav-link " href="{% url 'Menu' %}">Menu</a>
            </li>
            
              <li class="nav-item {% block about_status %}{% endblock about_status %} ">
                <a class="nav-link " href="{% url  'About' %}">About</a>
              </li>
              <li class="nav-item {% block table_status %}{% endblock table_status %} ">
                <a class="nav-link " href="{% url  'book_table' %}">Book Table</a>
              </li>
              <li class="nav-item {% block Feedback_status %}{% endblock Feedback_status %} ">
                <a class="nav-link   " href="{% url  'Feedback' %}">Feedback</a>
              </li>
            </ul>
            <div class="user_option">
              <a href="/admin" class="order_online">
                Admin Login
              </a>
            </div>
          </div>
        </nav>
      </div> 
    </header>
    <!-- end header section -->
    {% block slider %}{% endblock slider %}
  </div>

 {% block main %}{% endblock main %}

 

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Kalanki-14, Kathmandu
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +977 9808595331
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  ratobhale@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Rato Bhale Restaurant
            </a>
            <p>
              We are always ready to serve you. Rato Bhale - Your go-to-PLACE.
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            Everyday
          </p>
          <p>
            10.00 Am -10.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Rato Bhale Restaurant</a><br><br>
          &copy; <span id="displayYear"></span> 
          <a href="https://themewagon.com/" target="_blank">Copyright 2024</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src=" {% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="  {% static 'js/bootstrap.js' %} "></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src=" {% static 'js/custom.js' %} "></script>
  <!-- Google Map -->
  <!-- Google Map Embed -->

<!-- End Google Map Embed -->


</body>

</html>